@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap'); */

*{
    font-family: 'Open Sans', sans-serif;
}
.gradientText{
    /* background: -webkit-linear-gradient(#F29C40, #EB7BB1, #877EBB) ; */
    background: linear-gradient(to right, #4584C5, #F29C40, #EB7BB1,#877EBB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}